<!-- Header content -->
<div class="header-row">

  <div class="header-content">
    <h1 class="header-heading">NEVER CAUGHT<br>OFF-GUARD AGAIN</h1>
    <p>We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your
       core business.</p>

    <div class="header-btn">
      <a class="header-btn__learn" href="#">Learn More</a>
      <a class="header-btn__scroll" href="./#form"><i class="fa-solid fa-arrow-up-long"></i>Scroll</a>
    </div>
  </div>

  <div  class="header-img">
    <img class="header-img__helmet" src="assets/image/space-helmetf-big.svg" alt="helmet">
  </div>
</div>

